body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-size: cover;
    background-image: url(images/barca_colors.png);
    
    color: rgb(15, 1, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    height: 200px; 
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    color: white;
    background-color: #070505;

}
#joueurs {
    margin: 20px;
}
